In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_json('../../Data/review-002.json', lines=True, nrows= 1000000)

In [5]:
df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
999995,t-2o35kr7Q9DSaeuKhaDuQ,oX7o1TH0PHUWp9r9ry9_vw,jLn69WQupjsDKrbPw_nlGQ,3,0,1,0,Never really had any issues here other than th...,2017-11-15 09:43:07
999996,fLIwWCvdul9PNWYfJt5QWA,v8wlapFKVLs2qTYCGhCdiw,t6v8g8UeNiq3O2GoEc7R4Q,4,0,0,0,Fish recently moved a couple of doors down the...,2014-09-03 18:27:33
999997,ETAiy6wEM-r9ve4SKDhBpg,rLlYc1RzIBnOmnX3AbpEYw,ZYRul0i1bhOjirHED6Kd0w,3,0,0,0,I've been to South House around a dozen or so ...,2016-02-20 22:25:29
999998,8OgvSXuc6KjAt2fSz9LuzA,eEH-8CEPU5ndPxDGzVfHiQ,onGXKwnxPLtKnO8yqQMPSA,1,1,0,1,Wow! I am shocked at these reviews. I have tri...,2010-06-27 02:17:30
999999,TQoVzNXqDkiDXgzlw8cyaQ,HYmGwYXvcYmW7dDjuWKJfw,54vEFcAri3Wj6cdM4ljDBA,4,2,1,0,headed to St. Louis for a little getaway with ...,2012-11-05 03:25:02

In [15]:
df2 = pd.read_pickle('../../Data/business.pkl')

In [20]:
df2 = df2.loc[:, ~df2.columns.duplicated()]

In [22]:
df2 = df2[df2['city']=='Philadelphia']

In [25]:
df =df[(df['business_id'].isin(df2['business_id']))]

In [27]:
df

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
5,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
13,8JFGBuHMoiNDyfcxuWNtrA,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,0,0,0,Good food--loved the gnocchi with marinara\nth...,2009-10-14 19:57:14
16,oyaMhzBSwfGgemSGuZCdwQ,Dd1jQj7S-BFGqRbApFzCFw,YtSqYv1Q_pOltsVPSx54SA,5,0,0,0,Tremendous service (Big shout out to Douglas) ...,2013-06-24 11:21:25
...,...,...,...,...,...,...,...,...,...
999960,fjbe4oHdNsujiKeRq1QaIg,EqJhoyBc5wlHrTWBlUYb7Q,j-qtdD55OLfSqfsWuQTDJg,5,0,0,0,"On Saturday afternoon as the rain drizzled on,...",2011-08-15 14:42:59
999961,yjxT-wT6wtyDNsgT1i50Nw,-QmEKJ_CzZnT9biZHddfZQ,6ewV-e7-39oqYUq3yZuIyw,4,1,0,2,I'd come here so many times while living in Ph...,2016-02-28 23:51:56
999976,NaXhf-852FV9Ux8t6Ac7FQ,_Xcgb87ISXUvWqz-kkx_Cw,fi8e8y3VnBthXMuULioiAg,1,2,0,0,Ugh this place is a disgrace. Wish I could giv...,2012-08-08 02:26:41
999996,fLIwWCvdul9PNWYfJt5QWA,v8wlapFKVLs2qTYCGhCdiw,t6v8g8UeNiq3O2GoEc7R4Q,4,0,0,0,Fish recently moved a couple of doors down the...,2014-09-03 18:27:33
999997,ETAiy6wEM-r9ve4SKDhBpg,rLlYc1RzIBnOmnX3AbpEYw,ZYRul0i1bhOjirHED6Kd0w,3,0,0,0,I've been to South House around a dozen or so ...,2016-02-20 22:25:29

In [28]:
df.dtypes

review_id              object
user_id                object
business_id            object
stars                   int64
useful                  int64
funny                   int64
cool                    int64
text                   object
date           datetime64[ns]
dtype: object

In [31]:
#Modificamos el tipo de cada dato para que este alineado con el schema de big query
df['review_id']=df['review_id'].astype('string')
df['user_id']=df['user_id'].astype('string')
df['business_id']=df['business_id'].astype('string')
df['text']=df['text'].astype('string')